In [10]:
age = 24
print(type(age))
age = '24'
print(type(age))
age = 24.5
print(type(age))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
isEligible = True
type(isEligible)


# operation. == 2 number ==> 
age = 24
# what will be age after 10 yrs ( shift + return)
age+10

34

In [15]:

# operation. == 2 number ==> 
age = '24'
# what will be age after 10 yrs ( shift + return)
age+10

TypeError: can only concatenate str (not "int") to str

In [28]:
# type casting 
# int ---> float
# str ---> int/float
# int/float --->str

age = '24ABC'
# int(age)+ 10
# print(type(age))
# print(age)

In [29]:
31/17

1.8235294117647058

In [30]:
31//17

1

In [31]:
31%10

1